<template>
  <div class="q-pa-md">
    <q-select
      filled
      v-model="selectedDay"
      :options="dayOptions"
      label="Odaberite dan"
      emit-value
      map-options
      class="q-mb-md"
      @input="fetchExercises"
    />

    <q-table
      v-if="exercises.length > 0"
      :rows="exercises"
      :columns="columns"
      row-key="name"
      class="full-width"
    >
      <template v-slot:body-cell-image="props">
        <q-td :props="props">
          <img :src="props.row.imageUrl" alt="Exercise" style="width: 200px; height: 200px;">
        </q-td>
      </template>
      <template v-slot:body-cell-completed="props">
        <q-td :props="props">
          <q-checkbox v-model="props.row.completed" />
        </q-td>
      </template>
    </q-table>

    <q-btn
      label="Spremi"
      color="primary"
      @click="saveCompletedExercises"
      class="q-mt-md"
    />
  </div>
</template>

<script>
import { ref, watch, onMounted } from 'vue';
import { db } from 'boot/firebase';
import { collection, getDocs, query, where, addDoc } from 'firebase/firestore';
import { getAuth } from 'firebase/auth';

export default {
  setup() {
    const auth = getAuth();
    const user = auth.currentUser;
    const programId = ref(null);
    const selectedDay = ref(null);
    const exercises = ref([]);

    const dayOptions = ref([
      { label: 'Ponedjeljak', value: 'Ponedjeljak' },
      { label: 'Utorak', value: 'Utorak' },
      // ... ostali dani u tjednu
    ]);

    const columns = [
      { name: 'name', label: 'Naziv vježbe', field: 'name', align: 'left', sortable: true },
      { name: 'description', label: 'Opis vježbe', field: 'description', align: 'left', sortable: true },
      { name: 'image', label: 'Slika', field: 'image', align: 'center', sortable: false },
      { name: 'completed', label: 'Odrađeno', field: 'completed', align: 'center', sortable: true, type: 'boolean' }
    ];

    const getClientIdInTrainerSubcollection = async (email) => {
      const trainersRef = collection(db, 'Treneri');
      const querySnapshot = await getDocs(trainersRef);
      let clientIdInTrainerSubcollection = '';

      for (const trainerDoc of querySnapshot.docs) {
        const clientsRef = collection(db, 'Treneri', trainerDoc.id, 'Clients');
        const clientsSnapshot = await getDocs(clientsRef);

        clientsSnapshot.forEach((clientDoc) => {
          if (clientDoc.data().email === email) {
            clientIdInTrainerSubcollection = clientDoc.id;
          }
        });

        if (clientIdInTrainerSubcollection) {
          break;
        }
      }

      if (!clientIdInTrainerSubcollection) {
        throw new Error(`No client found in the Clients subcollection with the email: ${email}`);
      }

      return clientIdInTrainerSubcollection;
    };

    const fetchExercises = async (day) => {
      if (day && programId.value) {
        try {
          const dayRef = collection(db, `programi/${programId.value}/${day}`);
          const exercisesSnapshot = await getDocs(dayRef);
          exercises.value = exercisesSnapshot.docs.map(doc => ({
            id: doc.id,
            ...doc.data(),
            completed: false
          }));
        } catch (err) {
          console.error("Error fetching exercises:", err);
        }
      }
    };

    const saveCompletedExercises = async () => {
      const completedExercises = exercises.value.filter(exercise => exercise.completed);

      try {
        const completedExercisesRef = collection(db, "odrađeneVjezbe");

        for (const exercise of completedExercises) {
          await addDoc(completedExercisesRef, {
            ...exercise,
            clientId: user.uid,
            timestamp: new Date()
          });
        }

        console.log("Odrađene vježbe uspješno spremljene!");
      } catch (error) {
        console.error("Greška pri spremanju odrađenih vježbi:", error);
      }
    };

    watch(selectedDay, fetchExercises);

    onMounted(async () => {
      if (user) {
        try {
          const clientId = await getClientIdInTrainerSubcollection(user.email);
          const programsQuery = query(collection(db, "programi"), where("clientId", "==", clientId));
          const programsSnapshot = await getDocs(programsQuery);

          if (!programsSnapshot.empty) {
            programId.value = programsSnapshot.docs[0].id;
          }
        } catch (err) {
          console.error(err.message);
        }
      }
    });

    return {
      selectedDay,
      exercises,
      dayOptions,
      columns,
      saveCompletedExercises
    };
  }
};
</script>
