<template>
  <div class="q-pa-md">
    <q-select
      filled
      v-model="selectedDay"
      :options="dayOptions"
      label="Odaberite dan"
      emit-value
      map-options
      class="q-mb-md"
      @input="fetchDietPlan"
    />

    <!-- This select will only render when selectedDay has a value -->
    <q-select
      v-if="selectedDay"
      filled
      v-model="selectedMeal"
      :options="mealOptions"
      label="Odaberite obrok"
      emit-value
      map-options
      class="q-mb-md"
      @input="fetchMeal"
    />

    <q-table
      v-if="meals.length > 0"
      :rows="meals"
      :columns="columns"
      row-key="name"
      class="full-width"
    >
      <template v-slot:body-cell-image="props">
        <q-td :props="props">
          <img v-if="props.row.imageUrl" :src="props.row.imageUrl" alt="Meal image" style="width: 200px; height: 200px;">
          <div v-else>No image available</div>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
import { ref, watch, onMounted } from 'vue';
import { db } from 'boot/firebase';
import { collection, getDocs, query, where, doc, getDoc } from 'firebase/firestore';
import { getAuth } from 'firebase/auth';


export default {
  setup() {
    const auth = getAuth();
    const user = auth.currentUser;
    const dietPlanId = ref(null);
    const selectedDay = ref(null);
    const selectedMeal = ref(null);
    const meals = ref([]);

    const dayOptions = ref([
      { label: 'Ponedjeljak', value: 'Ponedjeljak' },
      { label: 'Utorak', value: 'Utorak' },
      { label: 'Srijeda', value: 'Srijeda' },
      { label: 'Četvrtak', value: 'Četvrtak' },
      { label: 'Petak', value: 'Petak' },
      { label: 'Subota', value: 'Subota' },
      { label: 'Nedjelja', value: 'Nedjelja' },
    ])

    const mealOptions = ref([
      { label: 'Doručak', value: 'Dorucak' },
      { label: 'Ručak', value: 'Rucak' },
      { label: 'Užina', value: 'Uzina' },
      { label: 'Večera', value: 'Vecera' },

    ])

    const columns = [
      { name: 'name', label: 'Naziv jela', field: 'name', align:'left', sortable : true},
      { name: 'description', label: 'Opis jela', field: 'description', align: 'left', sortable: true},
      { name: 'image', label: 'Slika', field: 'image', align: 'center', sortable: false},

    ]

    const getClientIdInTrainerSubcollection = async ( email) => {
      const trainersRef = collection(db, 'Treneri');
      const querySnapshot = await getDocs(trainersRef);
      let clientIdInTrainerSubcollection = '';

      for(const trainerDoc of querySnapshot.docs){
        const clientsRef = collection(db, 'Treneri', trainerDoc.id, 'Clients');
        const clientsSnapshot = await getDocs(clientsRef);
        
        clientsSnapshot.forEach((clientDoc) => {
          if(clientDoc.data().email === email) {
            clientIdInTrainerSubcollection = clientDoc.id;
          }
        });
        if (clientIdInTrainerSubcollection)
        {
          break;
        }
      }
      
      if(!clientIdInTrainerSubcollection) {
        throw new Error(`No client found in the Clients subcollection with the email: ${email}`);
  
      }
      return clientIdInTrainerSubcollection;
    };

    const fetchDietPlanId = async () => {
      const clientId = await getClientIdInTrainerSubcollection(user.email);
      const dietPlanQuery = query(collection(db, "PlanPrehrane"), where("clientId", "==", clientId));
      const dietPlanSnapshot= await getDocs(dietPlanQuery);
      if(!dietPlanSnapshot.empty){
        dietPlanId.value = dietPlanSnapshot.docs[0].id;
      }
    }
    const fetchMeals = async () => {
  if (selectedDay.value && selectedMeal.value && dietPlanId.value) {
    try {
      // Reference to the meal document within the day's subcollection
      const mealDocRef = doc(db, `PlanPrehrane/${dietPlanId.value}/${selectedDay.value}`, selectedMeal.value);
      
      // Fetching the meal document
      const mealDocSnapshot = await getDoc(mealDocRef);

      if (mealDocSnapshot.exists()) {
        // Assuming that 'foodItems' is an array within the meal document
        const mealData = mealDocSnapshot.data();
        meals.value = mealData.foodItems.map(item => ({
          ...item,
          imageUrl: item.imageUrl || 'default-image-url', // Provide a default or check before rendering in the template
        }));
      } else {
        console.log("Meal document does not exist!");
        meals.value = []; // If the document does not exist, set an empty array
      }
    } catch (err) {
      console.error("Error fetching meal:", err);
    }
  }
};

// Watch for changes in selectedDay or selectedMeal
watch([selectedDay, selectedMeal], () => {
  if (dietPlanId.value) {
    fetchMeals();
  }
});

watch([selectedDay, selectedMeal], () => {
  if (dietPlanId.value) {
    fetchMeals();
  }
});

onMounted(async () => {
  await fetchDietPlanId();
});

    
    onMounted(async () => {
      await fetchDietPlanId();
     
    });

    return {
      selectedDay,
      selectedMeal,
      meals,
      dayOptions,
      mealOptions,
      columns
    };
  }
}

</script>
