<template>
    <q-page class="flex flex-center">
      <div class="form-container">
        <div class="form-header text-h6 text-center q-py-md">Unos hrane</div>
    
        <q-form class="q-gutter-md" @submit="submitFood">
          <q-input filled v-model="food.name" label="Naziv hrane" class="q-mb-md" />
          <q-input filled v-model="food.description" label="Opis hrane" type="textarea" class="q-mb-md" />
          
          <div class="q-my-md">
            <q-uploader
              ref="uploader"
              class="uploader"
              flat
              bordered
              accept="image/*"
              auto-upload
              :factory="file => uploadImage(file)"
              @uploaded="handleUpload"
            />
          </div>
    
          <div class="text-center">
            <q-btn label="Spremi Hranu" type="submit" color="primary" class="full-width" :disabled="isSubmitButtonDisabled" />
          </div>
        </q-form>
      </div>
    </q-page>
  </template>
  
  <script>
  import { ref } from 'vue';
  import { db, storage } from 'boot/firebase';
  import { ref as storageRef, uploadBytes, getDownloadURL } from 'firebase/storage';
  import { collection, addDoc } from 'firebase/firestore';
  
  export default {
    setup() {
      const food = ref({
        name: '',
        description: '',
        imageUrl: ''
      });
      
      const uploader = ref(null);
      const isUploading = ref(false);
      const isSubmitButtonDisabled = ref(true);
  
      const uploadImage = async (files) => {
  const file = files[0];
  if (!file) {
    console.error('No file is selected for upload.');
    isUploading.value = false; // Ensure the loading state is reset even if there's no file
    return;
  }
  isUploading.value = true; // Set uploading state to true after validating the file exists
  console.log('File name is:', file.name); // This should log the actual file name
  try {
    const imageRef = storageRef(storage, `food_images/${file.name}`);
    const snapshot = await uploadBytes(imageRef, file);
    const url = await getDownloadURL(snapshot.ref);
    console.log('Uploaded image URL is:', url); // Check the obtained URL
    food.value.imageUrl = url; // Set the image URL in your food reactive object
    isSubmitButtonDisabled.value = false; // Enable the submit button after upload
  } catch (error) {
    console.error('There was an error uploading the image:', error);
    isSubmitButtonDisabled.value = true; // Keep the submit button disabled if there's an error
  } finally {
    isUploading.value = false; // Set uploading state to false after trying to upload
  }
};
      const handleUpload = (file) => {
        // Handle the upload event if necessary
      };
  
      const submitFood = async () => {
        if (!food.value.name || !food.value.description || !food.value.imageUrl) {
          console.error('All fields must be filled.');
          return;
        }
        try {
          await addDoc(collection(db, 'hrana'), {
            name: food.value.name,
            description: food.value.description,
            imageUrl: food.value.imageUrl
          });
          console.log('Food has been saved successfully.');
          
          food.value = {
            name: '',
            description: '',
            imageUrl: ''
          };
          if (uploader.value) {
            uploader.value.reset();
          }
          isSubmitButtonDisabled.value = true;
        } catch (error) {
          console.error('There was an error saving the food:', error);
        }
      };
  
      return {
        food,
        uploadImage,
        submitFood,
        isSubmitButtonDisabled,
        uploader
      };
    }
  };
  </script>
<style>
.q-page {
  background-color: #f0f2f5;
}

.form-container {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-header {
  color: #5c6bc0;
  font-weight: bold;
}

.q-btn.full-width {
  width: 100%;
}

.q-uploader {
  width: 100%; /* Koristite punu širinu roditeljskog kontejnera */
  max-width: 300px; /* Maksimalna širina upload okvira */
  margin: auto; /* Automatska margina će centrirati element */
}

/* Prilagođavanje gumba unutar .q-uploader__trigger */
.q-uploader__trigger {
  width: 100%; /* Gumb se širi na punu širinu upload okvira */
  margin: 0; /* Uklonite bilo kakve vanjske margine */
}

/* Prilagodba izgleda liste datoteka */
.q-uploader__list {
  width: 100%; /* Lista datoteka se širi na punu širinu upload okvira */
}

/* Prilagodba izgleda progress bar-a */
.q-uploader__progress {
  width: 100%; /* Progress bar se širi na punu širinu upload okvira */
}

/* Stiliziranje kontejnera koji se pojavljuje nakon odabira datoteke */
.q-uploader__file, .q-uploader__thumbnail {
  width: 100%; /* Elementi unutar upload okvira se šire na punu širinu */
}

/* Centriranje teksta unutar upload komponente ako je potrebno */
.q-uploader__file-name, .q-uploader__file-size {
  text-align: center;
}

/* Ako želite centrirati samo vizualne elemente unutar uploader-a */
.q-uploader__thumbnail, .q-uploader__thumbnail-container {
  margin: 0 auto; /* Centriranje s automatskom marginom */
}
</style>
