<template>
    <q-page class="flex flex-center">
      <div class="form-container">
        <div class="form-header text-h6 text-center q-py-md">Unos vježbe</div>
  
        <q-form class="q-gutter-md" @submit="submitExercise">
          <q-input filled v-model="exercise.name" label="Naziv vježbe" class="q-mb-md" />
          <q-input filled v-model="exercise.description" label="Opis vježbe" type="textarea" class="q-mb-md" />
          
          <div class="q-my-md">
            <q-uploader
              ref="uploader"
              class="uploader"
              flat
              bordered
              accept="image/*"
              auto-upload
              :factory="file => uploadImage(file)"
              @uploaded="handleUpload"
            />
          </div>
  
          <div class="text-center">
            <q-btn label="Spremi Vjezbu" type="submit" color="primary" class="full-width" :disabled="isSubmitButtonDisabled" />
          </div>
        </q-form>
      </div>
    </q-page>
  </template>
  
  <script>
  import { ref, onBeforeUnmount } from 'vue';
  import { db, storage } from 'boot/firebase';
  import { ref as storageRef, uploadBytes, getDownloadURL } from 'firebase/storage';
  import { collection, addDoc } from 'firebase/firestore';
  
  export default {
    setup() {
      const exercise = ref({
        name: '',
        description: '',
        imageUrl: '' // Renamed for clarity
      });
      
      const uploader = ref(null); // Reference to the q-uploader component
      const isUploading = ref(false); // Track the uploading state
      const isSubmitButtonDisabled = ref(true); // Disable submit button initially
  
      const uploadImage = async (files) => {
  const file = files[0];
  if (!file) {
    console.error('No file is selected for upload.');
    return;
  }
  console.log('File name is:', file.name); // Ovo bi trebalo ispisati stvarno ime datoteke
  try {
    console.log('File name is:', file.name); // Provjerite ime datoteke
    const imageRef = storageRef(storage, `exercise_images/${file.name}`);
    const snapshot = await uploadBytes(imageRef, file);
    const url = await getDownloadURL(snapshot.ref);
    console.log('Uploaded image URL is:', url); // Provjerite dobiveni URL
    exercise.value.imageUrl = url;
    isSubmitButtonDisabled.value = false; // Enable submit button after upload
  } catch (error) {
    console.error('There was an error uploading the image:', error);
  } finally {
    isUploading.value = false; // Set uploading state to false
  }
};
      const handleUpload = (file) => {
        // Handle the upload event if necessary
      };
  
      const submitExercise = async () => {
        if (!exercise.value.name || !exercise.value.description || !exercise.value.imageUrl) {
          console.error('All fields must be filled.');
          return;
        }
        try {
          await addDoc(collection(db, 'vjezbe'), {
            name: exercise.value.name,
            description: exercise.value.description,
            imageUrl: exercise.value.imageUrl
          });
          console.log('Exercise has been saved successfully.');
          
          // Reset the exercise object to clear the fields
          exercise.value = {
            name: '',
            description: '',
            imageUrl: ''
          };
          // Reset the uploader component to clear the uploaded file list
          if (uploader.value) {
            uploader.value.reset();
          }
          isSubmitButtonDisabled.value = true; // Disable the submit button after saving
        } catch (error) {
          console.error('There was an error saving the exercise:', error);
        }
      };
  
      onBeforeUnmount(() => {
        // Cleanup if needed when the component is destroyed
      });
  
      return {
        exercise,
        uploadImage,
        submitExercise,
        isSubmitButtonDisabled,
        uploader // Return the uploader reference
      };
    }
  };
  </script>
<style>
.q-page {
  background-color: #f0f2f5;
}

.form-container {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-header {
  color: #5c6bc0;
  font-weight: bold;
}

.q-btn.full-width {
  width: 100%;
}

.q-uploader {
  width: 100%; /* Koristite punu širinu roditeljskog kontejnera */
  max-width: 300px; /* Maksimalna širina upload okvira */
  margin: auto; /* Automatska margina će centrirati element */
}

/* Prilagođavanje gumba unutar .q-uploader__trigger */
.q-uploader__trigger {
  width: 100%; /* Gumb se širi na punu širinu upload okvira */
  margin: 0; /* Uklonite bilo kakve vanjske margine */
}

/* Prilagodba izgleda liste datoteka */
.q-uploader__list {
  width: 100%; /* Lista datoteka se širi na punu širinu upload okvira */
}

/* Prilagodba izgleda progress bar-a */
.q-uploader__progress {
  width: 100%; /* Progress bar se širi na punu širinu upload okvira */
}

/* Stiliziranje kontejnera koji se pojavljuje nakon odabira datoteke */
.q-uploader__file, .q-uploader__thumbnail {
  width: 100%; /* Elementi unutar upload okvira se šire na punu širinu */
}

/* Centriranje teksta unutar upload komponente ako je potrebno */
.q-uploader__file-name, .q-uploader__file-size {
  text-align: center;
}

/* Ako želite centrirati samo vizualne elemente unutar uploader-a */
.q-uploader__thumbnail, .q-uploader__thumbnail-container {
  margin: 0 auto; /* Centriranje s automatskom marginom */
}
</style>
