<template>
  <q-page padding>
    <div class="text-center q-pb-lg">
      <div class="text-h4 q-pb-md" style="color: #027be3;">Unos Hrane</div>
      <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
    </div>

    <div class="q-pa-md">
      <q-select
        filled
        v-model="selectedDay"
        :options="dayOptions"
        label="Odaberite dan"
        emit-value
        map-options
        class="q-mb-md"
      />

      <q-select
        v-if="selectedDay"
        filled
        v-model="selectedMeal"
        :options="mealOptions"
        label="Odaberite obrok"
        emit-value
        map-options
        class="q-mb-md"
      />
      
      <div v-if="selectedMeal">
        <div v-for="(foodItem, index) in selectedMealFoodItems" :key="index">
          <q-card flat bordered class="q-pa-md q-mb-lg">
            <q-select
              filled
              v-model="foodItem.id"
              :options="foodOptions"
              label="Odaberite hranu"
              emit-value
              map-options
              class="q-mb-md"
              @update:model-value="id => updateSelectedFoodItem(index, id)"
            />
            <q-input
              filled
              v-model="foodItem.description"
              label="Opis hrane"
              type="textarea"
              class="q-mb-md"
              readonly
            />
            <div v-if="foodItem.imageUrl">
              <img :src="foodItem.imageUrl" alt="Hrana" class="q-mt-md" style="max-width: 100px; max-height: 100px;">
            </div>
          </q-card>
        </div>

        <q-btn
          label="Dodaj hranu"
          color="primary"
          @click="addNewFoodItem"
          class="q-mb-md"
        />

        <q-btn
          label="Spremi"
          color="secondary"
          :disabled="selectedMealFoodItems.length === 0 || !isAllFoodItemsValid"
          @click="saveFoodItems"
          class="full-width"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref, reactive, computed, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { db } from 'boot/firebase';
import { collection, getDocs, query, where, doc, getDoc, setDoc } from 'firebase/firestore'; 

export default {
  setup() {
    const route = useRoute();
    const clientId = ref(route.params.clientId);
    const dietPlanId = ref(route.params.dietPlanId);
    const selectedDay = ref(null);
    const selectedMeal = ref(null);
    const selectedMealFoodItems = reactive([]);
    const isLoading = ref(false);
    const error = ref(null);
    const foodOptions = ref([]);
    const dayOptions = ref([
      { label: 'Ponedjeljak', value: 'Ponedjeljak' },
      { label: 'Utorak', value: 'Utorak' },
      { label: 'Srijeda', value: 'Srijeda' },
      { label: 'Četvrtak', value: 'Cetvrtak' },
      { label: 'Petak', value: 'Petak' },
      { label: 'Subota', value: 'Subota' },
      { label: 'Nedjelja', value: 'Nedjelja' },
    ]);
    const mealOptions = ref([
      { label: 'Doručak', value: 'Dorucak' },
      { label: 'Ručak', value: 'Rucak' },
      { label: 'Užina', value: 'Uzina' },
      { label: 'Večera', value: 'Vecera' },
    ]);
    
    

    // Fetch food items from database
    const fetchFoodItems = async () => {
      isLoading.value = true;
      try {
        const foodSnapshot = await getDocs(collection(db, "hrana"));
        foodOptions.value = foodSnapshot.docs.map(doc => ({
          label: doc.data().name,
          value: doc.id,
          description: doc.data().description,
          imageUrl: doc.data().imageUrl
        }));
      } catch (err) {
        console.error("Error fetching data:", err);
        error.value = err;
      } finally {
        isLoading.value = false;
      }
    };

    onMounted(() => {
      fetchFoodItems();
    });

    // Update food item when selected from dropdown
    const updateSelectedFoodItem = (index, id) => {
      const food = foodOptions.value.find(f => f.value === id);
      if (food) {
        selectedMealFoodItems[index] = {
          id: food.value,
          description: food.description,
          imageUrl: food.imageUrl
        };
      }
    };

    // Add new food item
    const addNewFoodItem = () => {
      selectedMealFoodItems.push({
        id: null,
        description: '',
        imageUrl: ''
      });
    };

    // Check if all food items are valid
    const isAllFoodItemsValid = computed(() => {
      return selectedMealFoodItems.every(foodItem => 
        foodItem.id && foodItem.description && foodItem.imageUrl
      );
    });

    // Save food items to database
    const saveFoodItems = async () => {
      if (!clientId.value || !selectedDay.value || !selectedMeal.value || selectedMealFoodItems.length === 0) {
        console.error('Missing client ID, selected day, selected meal, or food items data. Cannot save.');
        return;
      }

      try {
        // Reference for the meal document within the day's collection
        const mealDocRef = doc(db, `PlanPrehrane/${dietPlanId.value}/${selectedDay.value}`, selectedMeal.value);

        // Fetch or initialize the meal document's data
        const mealDoc = await getDoc(mealDocRef);
        const mealData = mealDoc.exists() ? mealDoc.data() : { foodItems: [] };

        // Add new food items to the meal document's 'foodItems' field
        for (const foodItem of selectedMealFoodItems) {
          const foodData = {
            id: foodItem.id,
            name: foodOptions.value.find(f => f.value === foodItem.id).label,
            description: foodItem.description,
            imageUrl: foodItem.imageUrl
          };
          mealData.foodItems.push(foodData);
        }

        // Update the meal document with new food items
        await setDoc(mealDocRef, mealData);
        
        console.log('Food items saved successfully for the meal:', selectedMeal.value);

        // Refresh page after saving
        window.location.reload();
      } catch (error) {
        console.error('Error saving food items:', error);
      }
    };

    return {
      selectedDay,
      selectedMeal,
      selectedMealFoodItems,
      foodOptions,
      dayOptions,
      mealOptions,
      isLoading,
      error,
      updateSelectedFoodItem,
      addNewFoodItem,
      isAllFoodItemsValid,
      saveFoodItems
    };
  }
};
</script>
