<template>
    <q-page class="row items-start q-pa-md justify-center">
      <div class="form-container col-12 col-md-6 q-pa-md q-gutter-sm" style="border-radius: 10px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <div class="form-header text-h6 text-center" style="color: #027be3;">Unos Plana Prehrane</div>
        
        <q-form class="q-gutter-md" @submit.prevent="saveDietPlanAndContinue">
          <q-input filled v-model="dietPlan.name" label="Naziv plana" class="q-mb-md" />
          <q-input filled v-model="dietPlan.description" label="Opis plana" type="textarea" class="q-mb-md" />
          
          <div class="flex flex-center q-my-md">
            <q-uploader
              ref="uploader"
              class="uploader"
              flat
              bordered
              accept="image/*"
              auto-upload
              :factory="file => uploadImage(file)"
              @uploaded="handleUpload"
              style="width: 50%;" 
            />
          </div>
    
          <div class="text-center q-pt-md">
            <q-btn label="Dalje" type="submit" color="primary" class="full-width" :disabled="!canProceed" />
          </div>
        </q-form>
      </div>
    </q-page>
  </template>
  
  <script>
  import { ref, computed } from 'vue';
  import { useRoute, useRouter } from 'vue-router';
  import { db, storage } from 'boot/firebase';
  import { collection, addDoc } from 'firebase/firestore';
  import { getAuth, onAuthStateChanged } from 'firebase/auth';
  import { ref as storageRef, uploadBytes, getDownloadURL } from 'firebase/storage';
  
  export default {
    setup() {
      const route = useRoute();
      const router = useRouter();
      const auth = getAuth();
      const user = ref(auth.currentUser);
      const trainerId = computed(() => user.value?.uid);
  
      onAuthStateChanged(auth, (currentUser) => {
        user.value = currentUser;
        if (!user.value) {
          router.push('/login');
        }
      });
  
      const clientId = route.params.id;
      const dietPlan = ref({
        name: '',
        description: '',
        imageUrl: ''
      });
      const uploader = ref(null);
      const isUploading = ref(false);
      const canProceed = ref(false);
  
      const uploadImage = async (files) => {
        const file = files[0];
        if (!file) {
          console.error('No file is selected for upload.');
          return;
        }
        isUploading.value = true;
        try {
          const imageRef = storageRef(storage, `diet_plan_images/${file.name}`);
          const snapshot = await uploadBytes(imageRef, file);
          const url = await getDownloadURL(snapshot.ref);
          dietPlan.value.imageUrl = url;
          canProceed.value = true;
        } catch (error) {
          console.error('There was an error uploading the image:', error);
          canProceed.value = false;
        } finally {
          isUploading.value = false;
        }
      };
  
      const handleUpload = (file) => {
        // Ova funkcija se poziva kada se upload završi
      };
  
      const saveDietPlanAndContinue = async () => {
        if (!dietPlan.value.name || !dietPlan.value.description || !dietPlan.value.imageUrl) {
          console.error('All fields must be filled out to continue.');
          return;
        }
        try {
          const docRef = await addDoc(collection(db, 'PlanPrehrane'), {
            name: dietPlan.value.name,
            description: dietPlan.value.description,
            imageUrl: dietPlan.value.imageUrl,
            trainerId: trainerId.value,
            clientId: clientId
          });
          console.log('Diet plan saved successfully with ID:', docRef.id);
          
          router.push({ name: 'TrenerPlanPrehrane', params: { dietPlanId: docRef.id, clientId: clientId } });
        } catch (error) {
          console.error('Error saving diet plan:', error);
        }
      };
  
      return {
        dietPlan,
        uploadImage,
        saveDietPlanAndContinue,
        canProceed,
        uploader
      };
    }
  };
  </script>
  